#Hannah {
	color: #330C2F;
	text-align:center;
	border: 2px solid #330C2F;
	margin-top:0px;
	padding: 80px;
	background-image: url(http://www.baltana.com/files/wallpapers-5/Paint-Background-HD-Wallpaper-16472.jpg);
	background-size: cover;
	font-family: 'Comfortaa', cursive;
}

#Hannah h1 {
	font-size: 50px;
}

#Hannah h5 {
	font-size: 25px;
}

